#!/usr/bin/make -f
%:
	dh $@ --with=autoreconf -Ndh_strip_nondeterminism

override_dh_auto_build:
	composer install --no-interaction --prefer-dist

override_dh_strip_nondeterminism:
	:

override_dh_auto_install:
	install -d debian/moosh/usr/share/moosh
	find . -mindepth 1 -maxdepth 1 \( ! -name debian ! -name .git ! -name .github \) -exec cp -a {} debian/moosh/usr/share/moosh/ \;
	install -d debian/moosh/usr/bin
	ln -s /usr/share/moosh/moosh.php debian/moosh/usr/bin/moosh
